.row{
    display: flex;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter-area{
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 20px;
}

#remain-time{
    width: 100%;
    min-width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease-out;
}
.remain-time-counting{
    font-size: 40px;
}
.remain-time-paused{
    font-size: 30px;
    opacity: 0.7;
}
.remain-time-stopped{
    font-size: 20px;
}

.counter-button{
    width: 50px;
    padding: 4px 8px;
    margin: 0 5px;
    border-radius: 20px;
    
    color: white;
    transition: background-color 0.2s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
#start-countdown-work-button            {background-color: rgb(66, 167, 88);}
#start-countdown-work-button:hover      {background-color: rgb(102, 218, 127);}
#start-countdown-relax-button           {background-color: rgb(66, 68, 167);}
#start-countdown-relax-button:hover     {background-color: rgb(123, 102, 218);}
#counter-resume-button                  {background-color: rgb(197, 175, 52);}
#counter-resume-button:hover            {background-color: rgb(218, 206, 102);}
#counter-pause-button                   {background-color: rgb(197, 86, 52);}
#counter-pause-button:hover             {background-color: rgb(218, 154, 102);}
#counter-stop-button                    {background-color: rgb(197, 52, 52);}
#counter-stop-button:hover              {background-color: rgb(218, 102, 102);}

#list-area{
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
}
.list-background-record{
    background: linear-gradient(to bottom, rgb(231, 218, 255), rgb(249, 255, 251)) ;
}
.list-background-plan{
    background: rgb(255, 221, 242);
}
.list-item{
    position: relative;
    width: 100%;
    transition: all 0.3s;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-item-deleted{
    opacity: 0.3;
}
.list-item-deleted::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(50% - 0.5px);
    left: 0;
    background-color: black;
}
.list-item-add{
    height: 20px;
    width: calc(100% - 20px);
    margin: 5px;
    padding: 5px;
    justify-content: center;
    
    border-radius: 16px;
    background-color: rgb(24, 146, 44);
    color: white;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
}
.list-item-add:hover{
    background-color: rgb(98, 209, 117);
}

.list-item-export-csv {
    height: 14px;
    width: 80px;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    
    border-radius: 16px;
    background-color: rgb(207, 176, 140);
    color: white;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
}
.list-item-export-csv :hover{
    background-color: rgb(209, 148, 98);
}

.list-item-clear {
    height: 14px;
    width: 80px;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    
    border-radius: 16px;
    background-color: rgb(185, 102, 102);
    color: white;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
}
.list-item-clear :hover{
    background-color: rgb(209, 98, 98);
}
.list-item-time{
    margin: 0 5px;
}
.list-item-content{
    outline: 0;
    border: 0;
    border-bottom: 1px black solid;
    margin: 0 5px;
    background: transparent;
}
.list-item-content:focus{
    outline: 0;
}
.list-item-delete{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(148, 34, 34);
    background-color: rgba(255, 176, 176, 0);
    transition: all 0.2s ease-out;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.list-item-delete:hover{
    color: rgb(148, 34, 34);
    background-color: rgba(255, 176, 176, 0.3);
}
.list-item-finish{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(34, 148, 100);
    background-color: rgba(176, 255, 212, 0);
    transition: all 0.2s ease-out;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.list-item-finish:hover{
    color: rgb(34, 148, 95);
    background-color: rgba(176, 255, 212, 0.3);
}
.list-item-unfinish{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(133, 133, 133);
    background-color: rgba(202, 202, 202, 0);
    transition: all 0.2s ease-out;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.list-item-unfinish:hover{
    color: rgb(150, 150, 150);
    background-color: rgba(192, 192, 192, 0.3);
}

.list-item-type{
    width: calc(100% - 20px);
    height: 22px;
    font-size: 14px;
    transition: all 0.2s ease-out;
    border-radius: 20px;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
}
.list-item-type-record{
    border:  rgb(73, 40, 134) 2px solid;
}
.list-item-type-plan{
    border: rgb(143, 32, 101) 2px solid;
}
.list-item-type-text{
    color: white;
    transition: opacity 0.2s ease-out;
    z-index: 1;
    font-weight: bold;
}
.list-item-text-background{
    position: absolute;
    background-color: black;
    left: 0;
    height: 100%;
    width: 50%;
    transition: 0.1s ease-out;
}
.list-item-text-background-record{
    left: 0;
    background-color: rgb(73, 40, 134);
}
.list-item-text-background-plan{
    left: 50%;
    background-color: rgb(143, 32, 101);
}

.list-enter-active, .list-leave-active {
    transition: opacity 0.2s;
    opacity: 0;
}
.list-enter-to {
    opacity: 1;
}
.list-leave-active{
    position: absolute;
    left: 0;
    transition: opacity 0.1s;
    opacity: 1;
}
.list-leave-to{
    opacity: 0;
}
.list-move {
    transition: transform 0.3s;
}