<html>
    <head>
        <meta charset="utf-8">
        <title>番茄工作法 Promodoro Technique Web</title>

        <link rel="stylesheet" type="text/css" href="css/index.css">

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
        
    </head>
    <body class="col">
        <div class="row">
            <div id="remain-time">-分 -秒</div>
            <div id="start-countdown-work-button" onclick="startCountdown(1500)">▶工作</div>
            <div id="start-countdown-relax-button" onclick="startCountdown(300)">▶休息</div>
        </div>
        <div id="list-area" class="col">
            <div class="list-item row">
                <div class="list-item-export-csv row" @click="exportCsv()">导出csv</div>
                <div class="list-item-clear row" @click="clear()">清空</div>
                <div :class="'list-item-type row list-item-type-' + typeName[Type]" @click="nextType()">{{typeList[Type]}}</div>
            </div>
            <div class="list-item list-item-add row" @click="addEntry()">添加</div>
            <transition-group name="list">
                <div v-for="(item, i) in List" v-bind:key="item" :class="'list-item row ' + (item.finished ? 'list-item-deleted' : '')">
                    <div class="list-item-time">{{tickToTimeStr(item.time)}}</div>
                    <input type='text' v-model="item.content" class="list-item-content" @input="saveData()"/>
                    <div v-if="Type == 1" :class="'row list-item-' + (item.finished ? 'unfinish' : 'finish')" @click="toggleFinishEntry(i)">{{item.finished ? '-' : '○'}}</div>
                    <div class="list-item-delete row" @click="deleteEntry(i)">×</div>
                </div>
            </transition-group>
        </div>
    </body>
</html>

<script src="js/index.js"></script>